@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------------------------ Code Editor css styles ----------------------------------  */

.editor-wrapper {
  position: relative;
  height: 100%;
  width: calc(100% - 10px);
}

.editor-wrapper .button-format {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 20;
  opacity: 0;
  transition: opacity 0.3s;
}

.editor-wrapper:hover .button-format {
  opacity: 1;
}

/* ---------------------- syntax styles for code editor ------------------------------------------  */

.editor-wrapper .mtk1 {
  color: #d4d4d4;
}
.editor-wrapper .mtk2 {
  color: #1e1e1e;
}
.editor-wrapper .mtk3 {
  color: #000080;
}
.editor-wrapper .mtk4 {
  color: #6a9955;
}
.editor-wrapper .mtk5 {
  color: #569cd6;
}
.editor-wrapper .mtk6 {
  color: #b5cea8;
}
.editor-wrapper .mtk7 {
  color: #646695;
}
.editor-wrapper .mtk8 {
  color: #c586c0;
}
.editor-wrapper .mtk9 {
  color: #9cdcfe;
}
.editor-wrapper .mtk10 {
  color: #f44747;
}
.editor-wrapper .mtk11 {
  color: #ce9178;
}
.editor-wrapper .mtk12 {
  color: #6796e6;
}
.editor-wrapper .mtk13 {
  color: #808080;
}
.editor-wrapper .mtk14 {
  color: #d16969;
}
.editor-wrapper .mtk15 {
  color: #dcdcaa;
}
.editor-wrapper .mtk16 {
  color: #4ec9b0;
}
.editor-wrapper .mtk17 {
  color: #c586c0;
}
.editor-wrapper .mtk18 {
  color: #4fc1ff;
}
.editor-wrapper .mtk19 {
  color: #c8c8c8;
}
.editor-wrapper .mtk20 {
  color: #cd9731;
}
.editor-wrapper .mtk21 {
  color: #b267e6;
}
.editor-wrapper .mtki {
  font-style: italic;
}
.editor-wrapper .mtkb {
  font-weight: bold;
}
.editor-wrapper .mtku {
  text-decoration: underline;
  text-underline-position: under;
}

.editor-wrapper .mtk100.Identifier.JsxElement.Bracket {
  color: #0080ff;
}

.editor-wrapper .mtk1000.Identifier.JsxOpeningElement.Bracket {
  color: #808080;
  font-weight: bold;
}

.editor-wrapper .mtk1001.Identifier.JsxClosingElement.Bracket {
  color: #808080;
  font-weight: lighter;
}

.editor-wrapper .mtk101.Identifier.JsxOpeningElement.Identifier {
  color: #569cd6;
}

.editor-wrapper .mtk102.Identifier.JsxClosingElement.Identifier {
  color: #569cd6;
  font-weight: lighter;
}

.editor-wrapper .mtk103.Identifier.JsxAttribute.Identifier {
  color: #9cdcfe;
}

.editor-wrapper .mtk104.JsxElement.JsxText {
  color: darkgoldenrod;
}

.editor-wrapper .mtk105.glyph.Identifier.JsxElement {
  background: #61dafb;
  opacity: 0.25;
}

.editor-wrapper .mtk12.Identifier.JsxExpression.JsxClosingElement {
  color: #ec5f67;
}

.editor-wrapper .mtk12.Identifier.JsxSelfClosingElement {
  color: #ec5f67;
}
.editor-wrapper .mtk12.Identifier.VariableStatement.JsxClosingElement {
  color: #ec5f67 !important;
}
.editor-wrapper .mtk12.VariableStatement.JsxSelfClosingElement.Identifier {
  color: #ec5f67;
}
.editor-wrapper .mtk12.Identifier.JsxAttribute.VariableDeclaration {
  color: crimson;
}
.editor-wrapper .mtk12.JsxExpression.VariableStatement {
  color: #fac863;
}
.editor-wrapper .mtk12.VariableStatement.JsxSelfClosingElement {
  color: #ede0e0;
}
.editor-wrapper .mtk12.VariableStatement.JsxClosingElement {
  color: #ede0e0;
}
.editor-wrapper .JsxText {
  color: #0c141f;
}

/* ------------------ preview component css styles  ---------------------------------------- */

.preview-wrapper {
  position: relative;
  height: 100%;
  flex-grow: 1;
}

.preview-wrapper iframe {
  height: 100%;
  width: 100%;
}

body .preview-wrapper:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
}

/* --------------------- resizable component css styles -------------------------------- */

.react-resizable-handle {
  display: block;
  background-color: #37414b;
  background-repeat: no-repeat;
  background-position: 50%;
}

.resize-horizontal {
  display: flex;
  flex-direction: row;
}

.react-resizable-handle-s {
  height: 10px;
  width: 100%;
  cursor: row-resize;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=");
}

.react-resizable-handle-e {
  width: 10px;
  min-width: 10px;
  height: 100%;
  cursor: col-resize;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
}

/* ---------------- text editor styles ------------------ */

.w-md-editor .title {
  line-height: unset;
  font-size: unset;
  font-weight: unset;
}

.w-md-editor ul {
  line-height: 1;
}

.text-editor .w-md-editor-bar svg {
  display: none;
}

.text-editor .w-md-editor-bar {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=");
  height: 11px;
  cursor: row-resize;
  background-color: #37414b;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 100%;
  position: relative;
}

/* Additonal text editor styles */

.w-md-editor .title {
  line-height: unset;
  font-size: unset;
  font-weight: unset;
  color: #d4d4d4 !important;
}

.w-md-editor ul {
  line-height: 1;
}

.text-editor .w-md-editor-bar svg {
  display: none;
}

.text-editor .w-md-editor-bar {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=");
  height: 11px;
  cursor: row-resize;
  background-color: #37414b;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 100%;
  position: relative;
}

.text-editor em {
  font-style: italic;
}

.text-editor .wmde-markdown hr {
  border-top: 1px solid #dee5ed;
}

.text-editor .wmde-markdown ol {
  list-style: decimal;
}

.text-editor .w-md-editor-show-live {
  /* Hide menu bar buttons to prevent accidental delete */
  z-index: 20;
}

.text-editor .w-md-editor-toolbar {
  background-color: #37414b;
  border-bottom: 1px solid gray;
}

.text-editor .w-md-editor-toolbar li button {
  color: #d4d4d4;
}

.text-editor .w-md-editor-content {
  background-color: #202123;
}

.text-editor .w-md-editor,
.text-editor .w-md-editor .w-md-editor-text-pre {
  color: #d4d4d4;
}

.text-editor .w-md-editor-text-pre .bold {
  color: unset;
}

.text-editor .token.list.punctuation {
  background-color: unset;
}

/* -------------- actionbar.css -----------------  */

.action-bar {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.5;
}

.action-bar:hover {
  opacity: 1;
}

.action-bar-wrapper {
  height: 30px;
  width: 100%;
  background-color: #37414b;
}

/*  --- celllistItem ---------- */

.cell-list-item {
  position: relative;
}

/* ------ add cell styles ------------ */

.add-cell {
  position: relative;
  opacity: 0;
  transition: opacity 0.3s ease-in;
  margin: 10px 0;
}

.add-cell:hover {
  opacity: 1;
}

.add-cell.force-visible {
  opacity: 1;
}

.add-cell .divider {
  position: absolute;
  top: 50%;
  bottom: 50%;
  right: 2.5%;
  left: 2.5%;
  border-bottom: 1px solid gray;
  width: 90%;
  z-index: -1;
}

.add-cell .add-buttons {
  display: flex;
  justify-content: center;
}

.add-cell .add-buttons button {
  margin: 0 20px;
}

/* ---------- progress-cover ----------- */

.progress-cover {
  height: 100%;
  flex-grow: 1;
  background-color: white;
  display: flex;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
}
